[Unit]
Description=Run pm-powersave at bootup
After=basic.target

[Service]
ExecStart=/sbin/udevadm trigger -s power_supply
Type=oneshot

[Install]
WantedBy=basic.target

